### Day Objectives:
- String Examples
- Data Structures
    - List
    - Tuple
    - Set
    - Dictionary
- Functions

- WAP to Check the given String is Palindrome or not
```
example:
    i/p: python
    o/p: not a palindrome
    
    i/p: level
    o/p: palindrome
```
- WAP to print all the characters according to its ascii values ( Note: chr(65) will gives you A)

```
Example: 65 - A
         66 - B
         .
         .
         
```

- WAP to print characters with odd ascii value in a given string (Note: ord('a') will gives you ascii value of 'a')

```
Example: i/p: ANJALI
         O/P: AAI
```

In [1]:
s = input("Enter any string: ")
if s==s[::-1]:
    print("Palindrome")
else:
    print("Not a palindrome")

Enter any string: malayalam
Palindrome

In [6]:
ord('a')

97

In [9]:
name=input()
for i in name:
    if (ord(i)%2!=0):
        print(i," ",ord(i))

diet college
i   105
e   101
c   99
o   111
e   101
g   103
e   101

### Data Structures:
- We can store two more heterogeneous values at a time in a single variable.
- Data Structures are two types:
    - Immutable --> we can't change after its declaration
    - Mutable --> we can change 
    
**Lists**:

- Mutable python DS
- Defined by using square brackets []
- Indexing and Slicing same as like strigs.
- example: li = [1,2.5,'diet']

In [10]:
li = [1,2.5,'diet']
li

[1, 2.5, 'diet']

In [11]:
li[0] # first element

1

In [12]:
li[-1] # last element

'diet'

In [16]:
li1 = [1,4,6,8,2,4,6,4,2,1,1,9]
print(li1)
print(len(li1))
li1[1]# length of list means number of elements

[1, 4, 6, 8, 2, 4, 6, 4, 2, 1, 1, 9]
12

4

In [17]:
## Slicing
li1[2:6] # [6,8,2,4]

[6, 8, 2, 4]

In [18]:
li1[::3] #[1,8,6,1]

[1, 8, 6, 1]

In [20]:
li1[::-2] #[]
print(li1)

[1, 4, 6, 8, 2, 4, 6, 4, 2, 1, 1, 9]

In [22]:
li1[::-1] #  reverse the entire list

[9, 1, 1, 2, 4, 6, 4, 2, 8, 6, 4, 1]

In [23]:
li1[1::-1] # []

[4, 1]

- WAP to print all even numbers in a given list.
    - li = [8,10,11,7,123,0,9,2,5]

In [27]:
li = [8,10,11,7,123,0,9,2,5]
for n in li:  #8 10 11 7 123 0 9 2 5
    fact_count=0  
    for i in range(1,n+1):  #(1,8)   (1,10)   (1,11)  (1,7)..
        if n%i==0:  #8%1==0 8%2==0  8%4==0...
            fact_count += 1
    if fact_count==2:
        print(n)

11
7
2
5

### List Methods

- As we know list is a mutable data structure means we can add any new element or modity any element or we can delete any particular element in a given list by using below built-in methods

In [25]:
# to display all the built-in methods in list 
dir(list)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

'append' --> to add a new element at end of the list
 'clear'  --> to remove all the elements in a list
 'copy' --> to copy all the elements to a new list
 'count' --> to count the occurances of a particular element
 'extend' --> to add two more or list of elements to a list
 'index' --> to know the index position of a particular element
 'insert' --> to add an element at a patricular index position
 'pop' --> to remove last element
 'remove' --> delete a particular element
 'reverse' --> to reverse a list
 'sort' --> to sort a list in ascending order.

In [32]:
# append() --> to add a new element to a list
colors = ['green','black','white','purple']
colors.append('orange')
print(colors)

['green', 'black', 'white', 'purple', 'orange']

In [33]:
#extend() --> to add two more or list of elements to a list
numbers = [10,20,30,40,10,30]
colors.extend(numbers)
print(colors)

['green', 'black', 'white', 'purple', 'orange', 10, 20, 30, 40, 10, 30]

In [34]:
# insert() --> to add an element at a patricular index position
colors.insert(2,'blue')
print(colors)

['green', 'black', 'blue', 'white', 'purple', 'orange', 10, 20, 30, 40, 10, 30]

In [35]:
# copy() --> to copy all the elements to a new list
new_list = colors.copy()

In [36]:
new_list

['green', 'black', 'blue', 'white', 'purple', 'orange', 10, 20, 30, 40, 10, 30]

In [40]:
# index() --> to know the index position of a particular element
new_list.index(40)
new_list.index(25)

ValueError: 25 is not in list

In [39]:
# count() --> to count the occurances of a particular element
new_list.count(10)
new_list.count('yellow')

0

In [41]:
# reverse --> to reverse a list
new_list[::-1] # using slicing values

[30, 10, 40, 30, 20, 10, 'orange', 'purple', 'white', 'blue', 'black', 'green']

In [42]:
new_list.reverse()

In [43]:
new_list

[30, 10, 40, 30, 20, 10, 'orange', 'purple', 'white', 'blue', 'black', 'green']

In [44]:
# sort() --> to sort a list in ascending order
new_list.sort()

TypeError: '<' not supported between instances of 'str' and 'int'

In [45]:
li = [2,7,10,0,1,294,23,91,1]
li.sort()
print(li) # sorting in ascending order

[0, 1, 1, 2, 7, 10, 23, 91, 294]

In [46]:
li.sort(reverse=True)
print(li) # sorting in descending order

[294, 91, 23, 10, 7, 2, 1, 1, 0]

In [49]:
# pop() --> to remove last element
li.pop()
print(li)

[294, 91, 23, 10, 7, 2]

In [50]:
# remove() --> delete a particular element
li.remove(23)
print(li)

[294, 91, 10, 7, 2]

In [51]:
# clear() --> to remove all the elements in a list
li.clear()

In [52]:
print(li)

[]

## Tuple
- immutable DS in python
-  we can't change any elements in a tuple.
- Indexig and Slicing are same as lists and strings
- Defined by using paranthses ()

In [53]:
t = (1,2,3,4,5.1,'python',90.6)
type(t)

tuple

In [54]:
print(t)

(1, 2, 3, 4, 5.1, 'python', 90.6)

In [56]:
# Indexing
t[0] # first element
t[3] # 4
t[-2] # last but-one element

'python'

In [58]:
# Slicing
t[-2:]  # ('python',90.6) using negative indexing

t[::-3] # ()

(90.6, 4, 1)

### tuple methods

- dir(tuple)

In [59]:
dir(tuple)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [62]:
# count() --> to print the number of occurances of a value
marks = (97,93,97,86,70,86,93,51)
marks.count(97)
marks.count(100)

0

In [63]:
# index() --> to know the index position of a value
marks.index(70)

4

In [64]:
len(marks)

8

### Tasks

- WAP to print unique elements in a given list
```
    i/p: [2,3,4,5,2,3]
    o/p: [4,5] ```
    
- WAP to print a list of duplicate values.

```
     i/p: [2,3,4,5,2,3]
    o/p: [2,3] ```
              
- WAP to print a list of palindrome string in a given list
- WAP to print the second largest and third smallest values in a given list.

In [66]:
# Task1
li = [2,3,4,5,2,3]
unique = list()
for i in li:
    if li.count(i)==1:
        unique.append(i)
print(unique)

[4, 5]

In [67]:
# Task2
li = [2,3,4,5,2,3]
duplicate = list()
for i in li:
    if li.count(i)>1:
        if i not in duplicate:
            duplicate.append(i)
print(duplicate)

[2, 3]

In [68]:
# Task 3
li = ['121','mam','pyton','diet','level']
for i in li:
    if i==i[::-1]:
        print(i)

121
mam
level

In [7]:
# Task4
n = [100,42,65,78,123,42,192,78,100]
#n.sort()
#print(n)
#print(n[-2]) # second largest
#print(n[2]) # third smallest
unique = []
for i in n:
    if i not in unique:
        unique.append(i)
unique.sort()
print(n)
print(unique)
print(unique[-2],unique[2])

[100, 42, 65, 78, 123, 42, 192, 78, 100]
[42, 65, 78, 100, 123, 192]
123 78

- but we get wrong output when we have duplicate values in list so for that first we have to filter all duplicate values.

In [8]:
unique.sort(reverse=True)
unique

[192, 123, 100, 78, 65, 42]

## Dictionaries:
- one of the mutable data structure of python.
- we can store data like key:value pairs
- duplicate keys are not allowed.
- defined by using {} or dict() method

In [9]:
student = {'abc':11,'xyz':12,'pqr':14,'kmn':17}
print(student)
print(type(student))

{'abc': 11, 'xyz': 12, 'pqr': 14, 'kmn': 17}
<class 'dict'>

In [10]:
# we can access values by using keys
student['xyz']

12

In [11]:
# if we give already existing key then it will update the value
student['kmn']=18
print(student)

{'abc': 11, 'xyz': 12, 'pqr': 14, 'kmn': 18}

In [12]:
# if we will give new key:value pair then it will add at the end of the dictionary
student['stu'] = 20
print(student)

{'abc': 11, 'xyz': 12, 'pqr': 14, 'kmn': 18, 'stu': 20}

In [13]:
student = {'abc':11,'xyz':12,'abc':14,'kmn':17}
print(student)

{'abc': 14, 'xyz': 12, 'kmn': 17}

In [14]:
dir(dict)

['__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

 'clear' --> remove all the key:value pairs 
 'copy' --> to copy all the values to a new dictionary
 'fromkeys'  --> to add new key:value pairs by using string
 'get' --> to display the value of a particular key
 'items' --> print list of all the key:value pairs
 'keys' --> print all the keys
 'pop' --> to delete a particular item
 'popitem' --> delete last item
 'setdefault' --> to set a default value same like update
 'update' --> to modify or to add two more items at a time
 'values' --> print all the values

In [16]:
# get()
d = {1:'one',2:'two',3:'three'}
d.get(3)
d.get(2)

'two'

In [17]:
# update()
d.update({4:'four',3:'third'})
print(d)

{1: 'one', 2: 'two', 3: 'third', 4: 'four'}

In [19]:
print(d)
# keys()
print(d.keys())
# values()
print(d.values())
# items()
print(d.items())

{1: 'one', 2: 'two', 3: 'third', 4: 'four'}
dict_keys([1, 2, 3, 4])
dict_values(['one', 'two', 'third', 'four'])
dict_items([(1, 'one'), (2, 'two'), (3, 'third'), (4, 'four')])

In [21]:
d1=d.copy()
print(d1)
print(d)

{1: 'one', 2: 'two', 3: 'third', 4: 'four'}
{1: 'one', 2: 'two', 3: 'third', 4: 'four'}

In [22]:
d2 = d
print(d2)
print(d)

{1: 'one', 2: 'two', 3: 'third', 4: 'four'}
{1: 'one', 2: 'two', 3: 'third', 4: 'four'}

In [27]:
# pop()
d.pop(3)

KeyError: 3

In [26]:
print(d)

{1: 'one', 2: 'two', 4: 'four'}

In [28]:
d.popitem()

(4, 'four')

In [29]:
print(d)

{1: 'one', 2: 'two'}

In [30]:
d.clear()

In [31]:
print(d)

{}

In [33]:
d.fromkeys('abcd')

{'a': None, 'b': None, 'c': None, 'd': None}

In [35]:
d['a'] = 10
d['b'] = 20
d['c'] = 30

In [37]:
print(d)

{'a': 10, 'b': 20, 'c': 30}

In [38]:
d.fromkeys('xyz',50)

{'x': 50, 'y': 50, 'z': 50}

In [39]:
print(d)

{'a': 10, 'b': 20, 'c': 30}

- WAP to take a string from the user and to print character as key and ascii value as value pairs in a dictionary.

```
example: abcd
        'a':97,'b':98,'c':99,'d':100
```

```
Example:
        aaaaabbbbccd
        'a':5,'b':4,'c':2,'d':1
```

- WAP to create a dictionary like:
    - {1:1,2:4,3:9,4:16.....}

In [42]:
s = input("Enter a string: ")
d = {}
for i in s:
    d[i] = ord(i)
print(d)

Enter a string: ganesh
{'g': 103, 'a': 97, 'n': 110, 'e': 101, 's': 115, 'h': 104}

In [44]:
s = input("Enter a string: ")
d = {}
for i in s:
    if i not in d:
        d[i] = 1
    else:
        d[i] += 1
print(d)

Enter a string: abcds
{'a': 1, 'b': 1, 'c': 1, 'd': 1, 's': 1}

In [48]:
n1 = int(input())
n2 = int(input())
square = dict()
for i in range(n1,n2+1):
    square[i] = i**2
print(square)

2
5
{2: 4, 3: 9, 4: 16, 5: 25}

### Sets
- One of the Mutable DS in python
- doesn't allow duplicate values
- it is an unordered data structure
- indexing and slicing are not possible
- set methods: dir(set)
- defined by curly brackets or set() method

In [49]:
s = {2,5,6,8,1,0,2,3,2,3,0,7,8}
li = [2,5,6,8,1,0,2,3,2,3,0,7,8]
t = (2,5,6,8,1,0,2,3,2,3,0,7,8)
print(s,'length of set: ',len(s))
print(li,'length of list: ',len(li))
print(t,'length of tuple: ',len(t))

{0, 1, 2, 3, 5, 6, 7, 8} length of set:  8
[2, 5, 6, 8, 1, 0, 2, 3, 2, 3, 0, 7, 8] length of list:  13
(2, 5, 6, 8, 1, 0, 2, 3, 2, 3, 0, 7, 8) length of tuple:  13

### set operations
- union --> combination of two set elements
- intersection --> common in both sets
- difference --> first set elements except common elements
- symmetric difference --> combination of all elements except common elements

In [50]:
print(dir(set))

['__and__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__iand__', '__init__', '__init_subclass__', '__ior__', '__isub__', '__iter__', '__ixor__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__rand__', '__reduce__', '__reduce_ex__', '__repr__', '__ror__', '__rsub__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__xor__', 'add', 'clear', 'copy', 'difference', 'difference_update', 'discard', 'intersection', 'intersection_update', 'isdisjoint', 'issubset', 'issuperset', 'pop', 'remove', 'symmetric_difference', 'symmetric_difference_update', 'union', 'update']

In [55]:
# union
x = {36,54,30,7,57,45}
y = {42,43,13,57,36,19}

print(x|y)
print(x.union(y))
# intersection
print(x&y)
print(x.intersection(y))
# difference
print(x-y)
print(y.difference(x))
# symmetric difference
print(x^y)
print(x.symmetric_difference(y))

{36, 7, 42, 43, 45, 13, 19, 54, 57, 30}
{36, 7, 42, 43, 45, 13, 19, 54, 57, 30}
{57, 36}
{57, 36}
{30, 45, 54, 7}
{19, 42, 43, 13}
{7, 13, 19, 30, 42, 43, 45, 54}
{7, 13, 19, 30, 42, 43, 45, 54}

In [56]:
print(x)
print(y)

{36, 7, 45, 54, 57, 30}
{36, 42, 43, 13, 19, 57}

In [57]:
y.difference_update(x)

In [58]:
print(x)
print(y)

{36, 7, 45, 54, 57, 30}
{42, 43, 13, 19}

In [61]:
names = set()
print(type(names))
names.add('reethu')

<class 'set'>

In [62]:
names

{'reethu'}

In [63]:
# update()
names.update(['ganesh','prasad'])

In [64]:
names

{'ganesh', 'prasad', 'reethu'}

In [65]:
names.pop()

'reethu'

In [66]:
s = {238,234,2432,7567,2,123,89}
s.pop()

2432

In [67]:
s

{2, 89, 123, 234, 238, 7567}

In [69]:
s.pop()

234

In [70]:
s

{89, 123, 238, 7567}

In [71]:
s.discard(234)

In [72]:
s.remove(234)

KeyError: 234

## Functions
- block of code
- set of statements
- Two types of functions:
    - 1). Predefined functions: already defined by the developer
        - ex: print(),input(),type()..
    - 2) User defined: defined by the user.
    
- **def** keyword used to define a function:

```
def function_name(arguments):  # func_definition
    statements                 # func_body
    .
    .
function_name(parameters)  # func_call
```

In [74]:
def is_prime(n):
    for i in range(2,n):
        if n%i==0:
            return False
    return True
is_prime(11000000000)

False

In [75]:
n = int(input())
fact_count=0  
for i in range(1,n+1):  #(1,8)   (1,10)   (1,11)  (1,7)..
    if n%i==0:  #8%1==0 8%2==0  8%4==0...
        fact_count += 1
if fact_count==2:
    print(n)

110000000

In [2]:
#s = input()
def is_palindrome(s):
    if s==s[::-1]:
        return True
    else:
        return False
is_palindrome('levels')

False

In [4]:
def factorial(n):
    if n==0 or n==1:
        return 1
    else:
        return n*factorial(n-1)
factorial(int(input()))

5

120

- even
- odd
- all prime numbers in a given range
- all perfect numbers in a given range
- printing all multiplication tables for a given range